body {
    background: #000;
}
body .container {
    color: #eee;
}
.container a {
    color: #a7d7ff;
}
.container a:visited {
    color: #f1f1f1;
}
h1, h2 {
    color: #fff;
}
h3, h4, h5 {
    color: #f5f5f5;
}

h1.site-title {
    float:left;
}
aside .well, aside .region {
    background: #372a2a;
}

img {
    max-width: 98% !important;
}